body { 
    background-color: #ffdeeb; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: sans-serif; 
    overflow: hidden; /* Empêche de scroller si le bouton sort de l'écran */
}

.container { 
    text-align: center; 
}

h1 { 
    color: #d32f2f; 
}

#image-container img {
    max-width: 200px;
}

button { 
    padding: 15px 30px; 
    font-size: 1.2rem; 
    border-radius: 10px; 
    border: none; 
    cursor: pointer;
}

#yesButton { 
    background-color: #4caf50; 
    color: white; 
}

#noButton { 
    background-color: #f44336; 
    color: white; 
    position: absolute; /* TRÈS IMPORTANT : Sans ça, le JS ne peut pas le bouger */
    transition: 0.1s; /* Rend le mouvement fluide */
}
